.more-button {
  margin: 0 auto;
  width: 320px;
  padding: 11px 0 9px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  background: #F9F9F9;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.more-button:hover {
  opacity: 0.8;
}

