.promo{
  background-color: #F3C1F8;
}
.promo__content {
  margin: 0 auto;
  width: calc(100% - 140px);
  display: flex;
  flex-direction: column;
}

.promo__heading {
  margin: 50px 0 0;
  max-width: 626px;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: -0.04em;
}

.promo__image {
  margin: 102px 0 60px;
  width: 722px;
  height: 244px;
  align-self: flex-end;
}