.section-header {
  margin: 0;
  display: block;
  padding: 0 0 23px;
  border-bottom: 1px solid #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.22;
  letter-spacing: -0.04em;
}

.section-header__about {
  margin: 110px 0 70px;
}